@CHARSET "utf-8";
@font-face {
    font-family: 'rochesterregular';
    src: url('font/Rochester-Regular-webfont.eot');
    src: url('font/Rochester-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Rochester-Regular-webfont.woff') format('woff'),
         url('font/Rochester-Regular-webfont.ttf') format('truetype'),
         url('font/Rochester-Regular-webfont.svg#rochesterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




 body
            {
                color: blue;
                background: url("../image/fond.jpg") ;
                display: flex;
                margin: 0 0 0 0
                        }
            
H1,H1+p
            {
                 text-align: center;
                 flex: 3;
                
            }
            
h2
{
	 font-family: rochesterregular,Arial, sans-serif;
	
}

h1
{
	border : 1px black solid;
    box-shadow: 2px 6px 6px black;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 500 px;
	
}

@media (min-width :500px)
{
nav
{
    background-color: #fdc8fd;
    width: 50px; 
}

#conteneur
{
    display: flex;
}

section
{
	margin: 5px 5px 5px 5px;
    flex: 1;
}
}